*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle
rux
build.gradle
IBM.iml
local.properties
settings.gradle
gradlew
gradlew.bat
airport
idea
app
git
gradle.properties
.idea
airpor421
airport21/build
airport22/build
chuanairport/build
