<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.ibm">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 相机部分 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".AirportApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".airport.AirportMainActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name=".airport.ChatActivity"/>
        <service
            android:name="com.ubtechinc.cruzr.sdk.speech.SpeechService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.administrator.ibm.Cruiser_Service"/>
            </intent-filter>
        </service>

        <service android:name=".airport.float_lib.service.FloatMonkService"/>
        <!--注册开机广播地址-->

        <receiver android:name=".StartBootComplete">
            <intent-filter>
                <action android:name="com.ubtechinc.cruzr.coreservices.ACTION.WORK_ON"> </action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="cruiser_appid"
            android:value="4542"/>
    </application>

</manifest>